body
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: rgb(17, 191, 191);
}
.mainDiv
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 300px;
    height:300px;
    border: 1px solid wheat;
    margin-left: 220%;
    background-color: bisque;
    border-radius: 10px;

}
.subDiv
{
    display: flex;
    justify-content:center;
    align-items: center; 
    gap: 10px;
    margin-top: 0px;
}
.Para
{
  font-size: 38px;
  color: black;
  margin-bottom: 5px;
}